.LoadingComponent {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	border-top: 5px solid rgba(50, 23, 77, 1);
	border-right: 3px solid transparent;
	border-bottom: none;
	border-left: none;
	animation: loading 700ms ease-in-out infinite;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
